.contact {
    background-color: transparent;
}

.contact__title {
    color: antiquewhite;
    position: center;
    text-align: center;
}

.contact__list {
    max-width: 1000px;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    flex-direction: column;
}

.contact__point {
    color: antiquewhite;
}

.content__container {
        grid-row-gap: 20px;
    }

.loading_image {
	position: fixed;
	top: 15%;
	left: 43%;
	width: 200px;
	height: 200px;
	opacity: 1;
	background: url('../image/meow2.gif');
	z-index: 50;
}

.loading .loading_image {
	display: initial;
}

.loaded .loading_image {
    display: none;
}

.wrapper {
	display: flex;
	min-height: 100%;
	flex-direction: column;
}

.button_container{
	display: flex;
	justify-content: center;
}

.post {
	max-width: 1000px;
	align-items: left;
	border-color: #61892F;
	border-style: solid;
	border-width: 2px;
	border-radius: 20px;
	padding: 10px 5px;
}

.post__title {
	color: #FEFFFF;
	font-weight: 800;
	font: 20px;
	margin-bottom: 10px;
	margin-top: 6px;
}

.post__id {
	color: #86C232;
}

.post__body {
	color: #6B6E70;
	font-weight: 600;
}

.comments {
	max-width: 900px;
	align-items: left;
	border-top: 1px solid green;
}

.comments__title {
	color: #FEFFFF;
	font-weight: 700;
	font: 18px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.comments__name {
	color: #86C232;
}

.comments__body {
	color: #6B6E70;
	font-weight: 600;
}


.button {
	background-color: #333;
	border: none;
	border-radius: 20px;
	color: antiquewhite;
	font-size: 16px;
	width: 120px;
	height: 30px;
	margin: 5px;
}

.form {
	border: 2px solid #61892F;
	border-radius: 20px;
	margin: 30px;
	padding: 20px;
	height: 150px;
}