.education__title {
    color: antiquewhite;
    position: center;
    text-align: center;
}

.education__list {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    margin: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

.education__point {
    color: antiquewhite;
    margin-top: 0;
    border: 10px solid antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px;
    position: relative;
    box-shadow: 0 0 10px white;
    border-radius: 20px;
}