.information {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.information__content {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 70px auto;
}

.information__title {
    color: antiquewhite;
    position: center;
    text-align: center;
}

.information__text {
    color: antiquewhite;
    text-align: left;
    padding: 20px;
    margin: 20px;
    border: 10px solid antiquewhite;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    box-shadow: 0 0 10px white;
    border-radius: 20px;

}

.information__quote {
    color: antiquewhite;
    text-align: left;
    padding: 20px;
    margin: 20px;
    border: 10px solid antiquewhite;
    box-shadow: 0 0 10px white;
    border-radius: 20px;
}