@font-face {
    font-family: Helvetica, sans-serif;
}

body {
    background-color: #940F58;
    font-family: "Times New Roman", "Times New Roman", cursive;
    margin: 0;
    font-size: 23px;
    line-height: 1.1;
}

footer {
    background-color: #333;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}