.skills {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.skills__title {
    color: antiquewhite;
    position: center;
    text-align: center;
}

.skills__content {
    margin: 70px auto;
    justify-content: space-between;
    align-items: center;
}

.skills__list {
    max-width: 1000px;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

.skills__point {
    color: antiquewhite;
    border: 7px solid antiquewhite;
    display: inline-block;
    padding: 15px;
    margin: 15px;
    position: relative;
    box-shadow: 0 0 10px white;
}